@using ColorGame.Services;
@inject BestScoreService Service;

<p>Previous time: @score.ToString("0.0") seconds</p>
<p>Best time this session: @bestScoreSession.ToString("0.0") seconds</p>
<AuthorizeView>
    <Authorized>
        <p>Best time all sessions: @bestScoreAllTime.ToString("0.0") seconds</p>
    </Authorized>
</AuthorizeView>

@code {

    /*
      this component keeps track of and displays the game scores
      there are three types of scores in the game:
        1) current/previous game score [score] - changes after every game
        2) best score of this session [bestScoreSession] - will reset when the component is refreshed
        3) best score of all time [bestScoreAllTime] - will be saved to DB in the case of logged in users
    */

    private decimal bestScoreAllTime;
    private decimal bestScoreSession;
    private decimal score;
    public decimal Score
    {
        get { return score; }
        set
        {
            score = value;
            if (score < bestScoreSession || bestScoreSession <= 0.0m) bestScoreSession = score;
            if (score < bestScoreAllTime || bestScoreAllTime <= 0.0m)
            {
                Service.Update(new Data.BestScore() { Value = score });
                bestScoreAllTime = score;
            }
            InvokeAsync(StateHasChanged);
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if(firstRender)
        {
            var currentBestScore = Service.Get();
            bestScoreAllTime = currentBestScore != null ? currentBestScore.Value : 0.0m;
            InvokeAsync(StateHasChanged);
        }
    }

}
